
# General
NODE_ENV=development
PORT=4000


# Database ( Fill this )
DATABASE_URL=postgresql://username:password@host(postgres):5432/db_name
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db_name
DB_USER=username
DB_PASSWORD=password

#JWT
JWT_SECRET=demopurpose
JWT_EXPIRES_IN=10h

#Vite
VITE_API_URL=http://localhost:4000/api

# CORS
CORS_ORIGIN=http://localhost:3000
