@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f4f6f9;
  color: #1a1a2e;
  margin: 0;
}

button { cursor: pointer; }

::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #c5cde0; border-radius: 3px; }
